:root {
  --green: #15F5BA;
  --black: #070F2B;
  --blue: #1B1A55;
  --white: #ffffff;
  --gray: #B4B4B8;
  --cream: #F7EEDD;
  --white-blue: #DFF5FF;

  --ele1: #6962AD;
  --ele10: #6C22A6;

  --ele2: #789461;
  --ele20: #50623A;

  --ele3: #FAEF9B;
  --ele30: #F6D776;

}